@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,700&display=swap');

    /* *{
        border: 1px solid;
    } */


body{
    margin: 0 auto;
    width: 75vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

/* HEADER */

.header, .info-section, .call-section{
    padding: 5px 210px 90px;
    /* width: 75vw; */
}

.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 75px;
}

.logo {
    font-size: 24px;
    font-weight: 800;
    color: #F9FAF8;
    flex: 2 1 auto;
}

ul {
    padding: 0;
    display: flex;
    flex: 1 1 1;
}   

ul li {
    list-style-type: none;
    margin: 0 0 0 16px;
    padding: 0;
    
}

a {
    text-decoration: none;
}

.header, .footer{
    background-color: #1F2937;
}


/* HEADER - INTRO/HERO */

.intro {
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-wrap: wrap;
}

.hero-section {
    margin-right: 20px;
    flex: 1 1 0;
}

.intro-image{
    max-width: 450px;
    height: auto;
    flex: 1 1 auto;
    box-shadow: 1px 1px 15px rgba(255,255,255, .2);
}

figure {
    margin: 0;
}
.hero-header{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.hero-subheader{
    margin-top: 10px;
}

.hero-subheader, .nav a, .signup{
    font-size: 18px;
    color: #E5E7EB;
}

figcaption {
    font-size: 14px;
    color: #E5E7EB;
}

.signup {
    padding: 9px 30px;
    border: 0;
    border-radius: 8px;
    margin-bottom: 15px;
    color: #F9FAF8;
    background-color: #3882F6;
    font-weight: 800;
}




/* INFO */

.info-section, .call-section{
    background-color: #F9FAF8;
    padding-top: 50px;
    padding-bottom: 50px;
}

.info-heading{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 0;
    text-align: center;
}

.image-list {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.img-main {
    width: 170px;
    height: auto;  
    margin: 16px 0; 
}

.img-main img {
    width: inherit;
    border:4px solid #3882F6;
    border-radius: 14px;
}

.info{
    color:#1F2937;
    text-align: center;
}

.attribution{
    font-size: 12px;
    font-weight: 100;
    text-align: center;
}


/* QUOTE */

.quote-section {
    background-color: #E5E7EB;
    padding: 0 210px 0 210px;
    min-height: 425px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: right;
}

.quote-text{
    font-size: 36px;
    font-weight: 500;
    font-style: italic;
    color:#1F2937;
    display: flex;
    margin: 0;
}

.author {
    text-align: right;
    font-size: 20px;
    font-weight: 900;
    margin-right: 35px;
}

/* CALL TO ACTION */

.call-to-action {
    background-color: #3882F6;
    color:#F9FAF8;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 8px;
}

.call-section p, .call-section h3 {
    margin: 0;
}

.call-section h3 {
    font-size: 24px;
    margin-bottom: 5px;
}
.call-section p {
    font-size: 16px;
}

.call-signup {
    margin-top: 16px;
    border: 2px solid #F9FAF8;
}

/* FOOTER */
.footer {
    color:#F9FAF8;
    padding: 20px 0;
    text-align: center;
}