@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    border: 1px solid;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 75px;
}

ul {
    margin: 0;
    padding: 0;
}   

ul li {
    list-style-type: none;
    margin: 0 21px 0 0px;
    padding: 0;
    display: inline;
}

a {
    text-decoration: none;
}

.header{
    padding: 20px 0 100px 0;
}

.header, .footer{
    background-color: #1F2937;
}

.hero-header{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.hero-subheader, .nav a, .signup{
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    font-weight: 800;
    color: #F9FAF8;
}

button{
    background-color: #3882F6;
    font-weight: 800;
}

.info-heading{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.quote-section {
    background-color: #E5E7EB;
}

.quote-text{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color:#1F2937;
}